*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.nav-component{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.nav-block-a img{
    width: 200px;
}

.nav-block-b ul{
    display: flex;
    list-style-type: none;
}

.nav-block-b ul li{
    padding-left: 20px;
}